@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-jost: var(--font-jost);
  --font-poppins: var(--font-poppins);
  --font-geist: var(--font-geist);
}


